* {
    font-family: 'PT Sans', sans-serif;
}

.container {
    min-width: 280px;
    width: calc(100vw - 40px);
    margin: 0 auto;
}

.header__upper {
    display: flex;
    padding: 27px 0 21px;
    background-color: #265c9a;
}

.header__contacts {
    display: flex;
    gap: 22px;
    align-items: center;
}

.header__contacts--left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo,
.header__phone {
    color: #fff;
    text-decoration: none;
}

.header__logo {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.header__phone {
    font-size: 19px;
    display: none;
}

.header__icons {
    display: flex;
    gap: 18px;
}

.header__delivery {
    display: none;
}

.header__search {
    padding: 1px;
    display: flex;
    align-items: center;
}

.header__search-input,
.header__search-input:focus {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 16px;
    outline: none;
    width: 100%;
}

.header__search-input {
    display: none;
}

.header__search-input::placeholder {
    color: #fff;
    font-size: 16px;
}

.header__lower {
    display: none;
    background: #265c9a;
    justify-content: space-between;
    position: absolute;
    top: 73px;
    width: 100%;
    z-index: 2;
}

.header__categories--left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.header__category {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    padding: 11px 7px;
}

.header__category:hover {
    border-radius: 1px;
    background: #618cbf;
}

.header__category:last-child {
    margin-bottom: 15px;
}

.header__cart {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.header__cart:hover {
    color: #fbff3d;
}

.header__cart--icon {
    width: 19px;
    height: 18px;
}

.header__cart--lower {
    display: none;
}

.header__cart:hover .header__cart--icon path {
    fill: #fbff3d;
}

.header__search--icon:hover,
.header__search--icon:hover path {
    cursor: pointer;
    fill: #fbff3d;
}

.header__burger {
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 2;
}

.header__burger .header__burger--icon:hover {
    cursor: pointer;
}

.header__burger--icon:hover path {
    fill: #fbff3d;
}

.header__search-input--mobile {
    display: block;
}

.header__search--mobile {
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.2s;
    padding: 0px 20px;
    top: 73px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    background: #1f497b;
    max-height: 44px;
}

.show {
    transform: translateY(0);
    display: flex;
}

.filter__current {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.filter__category {
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.filter__params {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}

.filter__selects,
.filter__inputs {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.select__header::before,
.select__header::after {
    --size: 0.35rem;
    position: absolute;
    content: '';
    right: 1rem;
    pointer-events: none;
}

.select__header::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid #666666;
    top: 50%;
}

.filter__select {
    position: relative;
    width: 244px;
}

.select__header {
    cursor: pointer;
    width: calc(244px - 22px);
    height: calc(48px - 28px);
    padding: 13px 10px;
    border: 1px solid #ccc;
    position: relative;
    z-index: 1;
    color: #484848;
    font-size: 16px;
}

.select__options {
    display: none;
    position: absolute;
    width: 242px;
    border: 1px solid #ccc;
    border-top: 0;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 97%;
    left: 0;
    z-index: 2;
}

.select__options li {
    padding: 10px;
    cursor: pointer;
    color: #484848;
    font-size: 16px;
}

.select__options li:hover {
    background: #e8eeff;
}

.filter__input--container {
    position: relative;
}

.filter__input {
    width: calc(244px - 22px);
    height: calc(48px - 22px);
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px;
    z-index: 2;
    text-align: right;
    color: #484848;
    font-size: 16px;
    font-weight: 700;
}

.filter__input::placeholder {
    color: #484848;
    text-align: right;
    font-size: 16px;
    font-weight: 700;
}

.filter__input:focus {
    outline: none;
    border-color: #ccc;
}

.filter__input--container:hover .filter__input {
    opacity: 1;
    visibility: visible;
}

.filter__input--text {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #555;
}

.modal__overlay {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
}

.modal {
    position: relative;
    background-color: #fff;
    padding: 21px 18px 19px;
    border-radius: 1px;
    max-width: 280px;
    width: calc(280px - 36px);
}

button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.modal__close-button {
    position: absolute;
    top: -27px;
    right: 0px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.modal__overlay.active {
    display: flex;
}

.filter__apply-button {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 1px;
    background: #ff3d3d;
    padding: 14px 76px 13px 77px;
}

.filter__by-price {
    display: none;
}

.select__border {
    display: none;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px 0 39px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #d0d0d0;
    padding: 22px 18px 16px 18px;
    max-width: 280px;
    gap: 8px;
}

.card:hover {
    border: 1px solid #819deb;
    background: #e8eeff;
}

.card--big {
    padding: 18px 17px 16px;
    gap: 20px;
    justify-content: space-between;
}

.card--big:hover {
    border: 1px solid #ff3d3d;
    background: #fff1f1;
}

.card__image {
    width: 169px;
    height: 169px;
}

.card__image--container {
    display: flex;
    justify-content: center;
}

.card__image--big {
    width: 244px;
    height: 244px;
}

.card__title {
    color: #333;
    font-size: 20px;
    margin-bottom: 5px;
}

.card__description {
    color: #989898;
    font-size: 16px;
    line-height: normal;
}

.card__price {
    color: #325ac0;
    font-size: 20px;
}

.card__price--with-discount {
    color: #ff3d3d;
}

.card__price--prediscount {
    color: #989898;
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
    margin-bottom: 5px;
}

.card__order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    border-top: 1px solid #8eacfc;
}

.card__order--discount {
    border-top: 1px solid #ffbcbc;
}

.card__cart:hover {
    cursor: pointer;
}

.card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

@media (min-width: 768px) {
    .header__search {
        border-bottom: 1px solid #517dae;
        padding: 1px;
        display: flex;
        gap: 7px;
        justify-content: space-between;
        align-items: center;
        min-width: 452px;
        width: 100%;
    }

    .header__search-input {
        display: block;
        padding: 0;
    }

    .header__search--icon {
        width: 13px;
        height: 13px;
    }

    .header__cart--icon {
        width: 21px;
        height: 20px;
    }

    .header__search--mobile {
        display: none;
    }

    .products {
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .card {
        max-width: calc(50% - 50px);
        padding: 17px 24px;
        width: 100%;
        min-height: calc(364px - 34px);
        gap: 15px;
    }

    .card--big {
        max-width: 100%;
        width: 100%;
        padding: 25px 24px 16px 21px;
        flex-direction: row;
        gap: 39px;
    }

    .card__image--big {
        width: 318px;
        height: 318px;
    }

    .card__description--big {
        max-width: 326px;
    }

    .card__price--prediscount {
        margin-bottom: 8px;
    }

    .card__image {
        width: 175px;
        height: 175px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
        width: calc(100% - 40px);
    }

    .header__cart--lower {
        display: none;
    }

    .header__search {
        min-width: 697px;
    }

    .products {
        margin-top: 14px;
    }

    .card {
        max-width: calc(((100% / 3) - 35.5px));
        padding: 16px 16px 19px;
        min-height: calc(359px - 50px);
        height: 100%;
        gap: 12px;
    }

    .card--big {
        max-width: calc(100% - (100% / 3) - 38px);
        width: 100%;
        padding: 31px 17px 19px 16px;
        gap: 32px;
    }

    .card__image {
        width: 164px;
        height: 164px;
    }

    .card__title {
        margin-bottom: 4px;
    }

    .card__description {
        min-height: 80px;
    }

    .card__title--big {
        margin-bottom: 0px;
    }

    .card__description--big {
        max-width: 300px;
    }

    .card__image--big {
        width: 297px;
        height: 297px;
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 1300px;
        width: calc(100% - 172px);
        margin: 0 auto;
    }

    .header__upper {
        padding: 28px 0;
    }

    .header__contacts {
        gap: 0;
    }

    .header__contacts--left {
        gap: 86px;
        justify-content: unset;
    }

    .header__phone {
        display: block;
    }

    .header__search {
        max-width: 281px;
    }

    .header__delivery {
        min-width: 129px;
        display: block;
        color: #fff;
        font-size: 16px;
    }

    .header__delivery:hover {
        color: #fbff3d;
    }

    .header__lower {
        display: flex;
        padding: 13px 0 12px 0;
        background: #1f497b;
        position: static;
    }

    .header__category {
        padding: 0;
    }

    .header__categories {
        display: flex;
        justify-content: space-between;
    }

    .header__categories--left {
        position: static;
        flex-direction: row;
        gap: 39px;
        justify-content: unset;
    }

    .header__cart--upper {
        display: none;
    }

    .header__cart--lower {
        display: flex;
        align-items: center;
        gap: 9px;
    }

    .header__burger {
        display: none;
    }

    .header__search {
        min-width: 281px;
    }

    .header__category:last-child {
        margin-bottom: 0px;
    }

    .header__category:hover {
        color: #fbff3d;
        background: transparent;
    }

    .modal__open-button {
        display: none;
    }

    .filter__apply-button {
        display: none;
    }

    .modal__overlay {
        display: block;
        position: static;
        background: transparent;
    }

    .filter__params {
        flex-direction: row;
        gap: 27px;
    }

    .modal {
        padding: 0;
    }

    .modal__close-button {
        display: none;
    }

    .filter__category {
        display: none;
    }

    .filter__select {
        width: 264px;
    }

    .select__header {
        width: calc(264px - 34px);
        padding: 14px 17px;
    }

    .select__options {
        width: 264px;
    }

    .filter__by-price {
        display: block;
        text-transform: uppercase;
        min-width: 65px;
        color: #484848;
        margin-right: 14px;
    }

    .filter__by-price--rubles {
        margin-right: 0px;
        margin-left: 9px;
    }

    .filter__selects {
        flex-direction: row;
        gap: 14px;
    }

    .filter__inputs {
        flex-direction: row;
        align-items: center;
        gap: 0px;
    }

    .filter__input {
        width: calc(133px - 22px);
    }

    .modal__overlay.active {
        display: block;
    }

    .select__options li {
        padding: 9px 17px;
    }
    .select__border {
        display: block;
        position: absolute;
        z-index: 3;
        width: calc(100% - 34px);
        margin: 0px 17px;
        border-top: 1px solid #d0d0d0;
    }

    .card__description {
        font-size: 14px;
    }

    .card {
        padding: 21px 20px 14px;
        max-width: calc((100% / 4) - 42px);
        max-height: calc(358px - 41px);
        gap: 10px;
    }

    .card__title {
        font-size: 18px;
    }

    .card--big {
        padding: 27px 20px 16px 21px;
        max-width: calc((100% / 2) - 43px);
        width: 100%;
        gap: 21px;
    }

    .card__image--big {
        width: 250px;
        height: 250px;
    }

    .card__description--big {
        max-width: 252px;
        font-size: 16px;
    }
}
